<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="../src/favicon.png">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand">Cines Centroamerica</a>
          <div class="d-flex">
            <a class="navbar-brand">Business Intelligence Grupo 6</a>
          </div>
        </div>
    </nav>
    <div class="container py-3">
      <div class="row">
              <!--Parte del botn web scrapping-->

        <div class="col-sm-6 mx-auto">
          <div class="card">
            <div class="card-header">
              Web Scraping
            </div>
            <div class="card-body">
              <p class="card-text">Obtención de la cartelera actual de las cadenas de cines Cinemark, Cinepolis y Cinemas</p>
              <form action="">
                <button class="btn btn-primary">Obtener</button>
                <br>
                {{msg2}}
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <!--Parte del boton cargar datos-->
        <div class="col-sm-6 mx-auto">
          <div class="card">
            <div class="card-header">
              Datos Excel
            </div>
            <div class="card-body">
              <p class="card-text">Cargar los archivos excel proporcionados para el respectivo análisis.</p>
              <form action="/uploader" method="POST" enctype="multipart/form-data">
                <!-- <input type="file" name="archivos" multiple>
                <input type="submit"> -->
                <div class="input-group">
                  <input type="file" name="archivos" multiple class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Guardar</button>
                </div>
                {{msg}}
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--Parte del botn depurar datos-->
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <div class="card">
            <div class="card-header">
              Depuración de datos
            </div>
            <div class="card-body">
              <p class="card-text">Depurar los datos para su posterior análisis</p>
              <form action="/depurar" method="GET">
                <button class="btn btn-primary">Depurar</button>
                <br>
                {{msg3}}
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="	https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>"
</body>

</html>



